.tagContainerTemp {
  background-color: #f5f1f2;
}
.tagContainerTemp h1 {
  padding: 1rem 1rem 0;
}
.tagContainerTemp a {
  margin: 0.5rem;
}
.tagContainerTemp li {
  padding: 1rem;
}

.tagGrid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
}

.itemList {
  list-style-type: none;
}

.items {
  margin: auto;
  background: #e2e9f1;
}
.items:hover {
  background: #e0f1ff;
}

.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .tagGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style-type: none;
  }
  .items {
    padding: 0.2rem;
    margin: 0.2rem;
    height: 50px;
    text-indent: 0;
  }
  .tagContainerTemp {
    padding-top: 2rem;
  }
}
