.tags {
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.tags:hover {
  background-color: #f3f4fc;
}

h4 {
  margin: 0;
  text-decoration: none;
  color: black;
}

.tagText {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.container {
  max-width: 100%;
  margin: auto;
  background: #f8f8f8;
  text-decoration: none;
}

.converter {
  width: 100%;
}

/* .flex {
  display: flex;
} */

.grid-container {
  padding: 0rem 0rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
  width: 100%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.images {
  width: 100%;
  height: 180px;
  z-index: 1;
  object-fit: cover;
  -webkit-box-shadow: 0px 7px 22px -4px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 7px 22px -4px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 7px 22px -4px rgba(0, 0, 0, 0.62);
  -webkit-animation: fade-in 1s ease-in both;
  animation: fade-in 1s ease-in both;
}

.images:hover {
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, -2px);
  }
}

.fade {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.searchContainer {
  float: right;
}

.btn-search {
  cursor: pointer;
  color: rgb(42, 76, 170);
  text-decoration: none !important;
  margin: 1rem;
  height: 35px;
}
