.tags {
  margin: auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 4rem;
}
.tags:hover {
  background-color: #ccf2f8de;
}

.tagText {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: black;
}

.tagText:hover {
  color: #ada2a2;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #f8f8f8;
}

.converter {
}
