.tags {
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
}
.tags:hover {
  background-color: #ccf2f8de;
}

.tagText {
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 1rem 0;
}

.tagText:hover {
  color: #77def0;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #f8f8f8;
}

.converter {
}
