.container {
  margin: auto;
  background: #f8f8f8;
  width: 750px;
}

.itemList {
  list-style-type: none;
}

.items {
  margin: auto;
  background: #e9fafc;
  padding: 0.2rem;
  display: flex;
}
.items:hover {
  background: #c7c7c7;
}

.link {
  text-decoration: none;
  color: black;
}
