.container {
  margin: auto;
  max-width: 1200px;
}

.itemList {
  list-style-type: none;
}

.items {
  margin: auto;
  background: #f3f4fc;
  padding: 0.2rem;
  display: flex;
}
.items:hover {
  background: #e0f1ff;
}

.link {
  text-decoration: none;
  color: black;
}
