.tagContainer {
  background-color: #f5f1f2;
}
.tagContainer h1 {
  padding: 1rem 1rem 0;
}

.tagContainer a {
  margin: 0.5rem;
}

.tagContainer li {
  padding: 1rem;
}

.tagGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  list-style-type: none;
}

.itemList {
  list-style-type: none;
}

.items {
  margin: auto;
  background: #e2e9f1;
}
.items:hover {
  background: #e0f1ff;
}

.linkHome {
  text-decoration: none;
  color: black;
  float: right;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .tagGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style-type: none;
    margin: 1rem 0.5rem;
  }
  .items {
    padding: 0.2rem;
    margin: 0.2rem;
    height: 100%;
  }
  .tagContainer {
    padding-top: 2rem;
  }
}
