.tools {
  margin: auto;
}

.login {
  background-color: rgb(20, 160, 20);
  border: none;
  padding: 0.6rem;
  border-radius: 2px;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
}

.login:hover {
  background-color: rgb(18, 122, 18);
}
