.posts {
  list-style-type: none;
  margin: 0;
  position: absolute;
  width: 220px;
  height: 97vh;
  overflow-y: hidden;
}

.post {
  margin: 0rem 0;
}

a {
  background: #f3f4fc;
  color: #000000;
  display: block;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

a:hover {
  background: #e0f1ff;
  border-left: solid rgb(125, 140, 255) 3px;
}

p {
  color: #000000;
  font-size: 1rem;
}

@media (max-width: 1250px) {
  .posts {
    display: none;
  }
}
