.postsBurger {
  list-style-type: none;
  margin: 0;
  position: absolute;
  width: 250px;
}

.postBurger {
  margin: 0rem 0;
}

.postsBurger a {
  background: #f3f4fc;
  color: #000000;
  display: block;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

.postsBurger a:hover {
  background: #e0f1ff;
  border-left: solid rgb(125, 140, 255) 3px;
}

.postsBurger p {
  color: #000000;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .postsBurger {
    display: block;
  }
}

.menuBurger {
  background-color: #f3f4fc;
  margin: 0;
  padding: 2rem 0 0;
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid black;
}
