// Nav
.header {
  padding: 0.5rem;
  background-color: #f4f4fc;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style-type: none;
  float: right;
  margin: auto;
}

.nav-item {
  color: #303030;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-item:hover {
  color: rgb(148, 148, 148);
}

.active-nav-item {
  color: rgba(0, 0, 0, 0.815);
}

ul {
  margin: 0;
}
