// Nav
.header {
  margin: 0.5rem;
  padding-top: 0.4rem;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 42px;
  background-color: #ccf2f8de;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: 0.7rem;
}

.nav-item {
  color: #303030;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(148, 148, 148);
}

.active-nav-item {
  color: rgba(0, 0, 0, 0.815);
}

ul {
  margin: 0;
}

// Recipes
.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 0rem 0;

  a {
    background: #ddedf0c2;
    color: #000000;
    display: block;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
  }

  a:hover {
    background: #e0f1ff;
    border-left: solid rgb(174, 75, 255) 2px;
  }

  p {
    color: #000000;
    font-size: 1rem;
  }
}

// Bottom
.footer {
  margin-bottom: 0;
  margin-top: 2rem;
  padding: 0.4rem;
  height: 40px;
  width: 300px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  bottom: 0px;
  font-size: 0.8rem;

  p {
    margin-bottom: 0px;
  }
}
