.accordion {
  margin: auto;
  max-width: 30em;
}

.toggle {
  display: none;
}

.title,
.content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.2s;
}

.title {
  background: #fff;
  padding: 1em;
  display: block;
  color: #7a7572;
  font-weight: bold;
}

.title:after,
.title:before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.2s;
}

.title:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.content p {
  margin: 0;
}

.toggle:checked + .title,
.toggle:checked + .title + .content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .title + .content {
  max-height: 1000px;
}
.toggle:checked + .title:before {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.searchBox {
  padding: 1rem 0;
  margin: 0;
  height: 64px;
  width: 100px;
}

.searchBox form {
  margin-left: 1rem;
}
.searchBox input {
  border: 1px solid black;
}

.searchBox button {
  border: 1px solid black;
  background-color: transparent;
  height: 38px;
  width: 38px;
  display: none;
}

.content ul {
  list-style-type: none;
}
.content a {
  color: #000;
}
